@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
  font-weight: normal;
  margin: 0 auto;
  background-color: #01051e;
  background-image: url(./assets/images/hero-bg.png);
}
nav {
  background-color: #010837;
}
.nav {
  color: #fff;

  padding: 1rem;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
}
span {
  color: orangered;
}
.text {
  font-size: x-large;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1rem;
}
.profile img {
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: solid;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  margin: auto;
}
.profile-card {
  background: rgba(255, 255, 255, 0.149);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 80vh;
  color: #fff;
}
.main {
  min-width: 80%;
  padding: 1rem;
}
.dayOfTheWeek {
  margin-bottom: 1rem;
}
.UTCTime {
  margin-bottom: 1rem;
}
.Track {
  margin-bottom: 1rem;
}
.foot {
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: #01051e;
  padding: 1rem;
  font-size: 1.4rem;
}
.git a {
  color: #fff;
  text-decoration: none;
}
.git a:hover {
  opacity: 0.7;
}
.git a:visited {
  color: orangered;
}

@media (min-width: 880px) {
  .nav {
    width: 85%;
    margin: auto;
  }
  .profile-card {
    width: 50%;
    padding: 2rem;
  }
  .text {
    font-size: xx-large;
    letter-spacing: 0.3rem;
  }
  .main {
    font-size: 1.5rem;
  }
}
